@import 'ember-bootstrap/bootstrap';
@import './burger-menu';

html,
body,
body > .ember-view {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 300;
  color: #222222;
}

.navbar--mobile {
  @include media-breakpoint-up(md) {
    display: none;
  }
}

.navbar--desktop {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
  }
}

.hamburger {

  @include media-breakpoint-up(md) {
    display: none;
  }
}

.page {
  padding: 1.5em 0;
}

.container {
  @include media-breakpoint-up(md) {
    max-width: 720px;
  }
}
