<form action="https://formspree.io/contact@jbuget.fr" method="POST">
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="medium-6 cell">
                <label>Nom
                    <input type="text" name="_name" placeholder="Ex: John Doe">
                </label>
            </div>
            <div class="medium-6 cell">
                <label>Email
                    <input type="email" name="_email" placeholder="Ex: john.doe@example.net">
                </label>
            </div>
            <div class="medium-6 cell">
                <label>Message
                    <textarea name="_message"></textarea>
                </label>
            </div>
            <div class="medium-6 cell">
                <input type="submit" value="Send">
            </div>
        </div>
    </div>
</form>
